<h1 mat-dialog-title>{{ formTitle }}</h1>
<div mat-dialog-content>
  <form #addBoardForm="ngForm" (ngSubmit)="onSubmit(addBoardForm)">
    <mat-form-field appearance="fill">
      <mat-label>{{ "FORM.LABEL.TITLE" | translate }}</mat-label>
      <input
        matInput
        type="text"
        id="title"
        name="title"
        autocomplete="off"
        [(ngModel)]="data.title"
        #title="ngModel"
        required
      />
      <mat-error *ngIf="!title.valid">{{
        "FORM.ERROR.REQUIRED" | translate
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "FORM.LABEL.DESCRIPTION" | translate }}</mat-label>
      <textarea
        matInput
        type="text"
        id="login"
        name="description"
        autocomplete="off"
        [(ngModel)]="data.description"
        #description="ngModel"
        required
      ></textarea>
      <mat-error *ngIf="!description.valid">{{
        "FORM.ERROR.REQUIRED" | translate
      }}</mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button (click)="onNoClick()">
        {{ "FORM.ACTION.CANCEL" | translate }}
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addBoardForm.valid"
        type="submit"
      >
        {{ submit }}
      </button>
    </div>
  </form>
</div>
